---
layout: default
page_class: home
full_title: "Rails Girls NL"
---

<section class="section text-center section-intro">
  <%= partial "header" %>

  <div class="section-intro-content">
    <h1>Welcome to Rails Girls The Netherlands</h1>

    <p class="large-text">A free, one day workshop. Discover the exciting world of web development through Ruby on Rails. With the help and guidance of our coaches, you can create a real web application in a fun and relaxed environment.</p>

    <h2>Next workshop</h2>
    <p class="large-text">Our next workshop has not yet been planned.<br>Watch this space for updates.</p>
  </div>
</section>

<section class="section schedule" id="schedule">
  <h2>Workshop program</h2>
  <p><em>The workshop program is subject to change.</em></p>

  <table id="schedule">
    <tbody>
      <tr>
        <th>9:00 AM</th>
        <td>
          Coffee and tea. Prepare laptops for programming.
        </td>
      </tr>
      <tr>
        <th>10:00 AM</th>
        <td>
          Introduction and icebreaker
        </td>
      </tr>
      <tr>
        <th>10:20 AM</th>
        <td>
          Introduction to Ruby and Rails
        </td>
      </tr>
      <tr>
        <th>11:00 AM</th>
        <td>
          Following the <a href="http://guides.railsgirls.com/app">building your app guide</a>
        </td>
      </tr>
      <tr>
        <th>12:30 PM</th>
        <td>
          Lunch time
        </td>
      </tr>
      <tr>
        <th>13:30 PM</th>
        <td>
          Continue <a href="http://guides.railsgirls.com/app">building your app</a>
        </td>
      </tr>
      <tr>
        <th>16:15 PM</th>
        <td>
          Wrap-up of the workshop
        </td>
      </tr>
      <tr>
        <th>17:00 PM</th>
        <td>
          End of the workshop
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="section" id="location">
  <h2>Location</h2>

  <p>
    <strong>To be decided</strong>
  </p>
</section>

<section class="section" id="faq">
  <h2>Frequently Asked Questions</h2>

  <h3>Where can I sign up as an attendee?</h3>
  <p>The event is over and it's no longer possible to sign up. Watch this space for new workshops! There was space for a maximum of twenty people. If more people apply, we'll put you on the waiting list in case someone cancels. If you want, we can also inform you about future workshops.</p>

  <h3>How much does the workshop cost?</h3>
  <p>Nothing, it's free! You just need to be excited to learn!</p>

  <h3>Do I need a laptop?</h3>
  <p>Yes! Please bring it with you. Don't forget your charger! Please try and set up your laptop for the workshop by <a href="https://guides.railsgirls.com/install">following this laptop setup guide</a>. If you get stuck, our coaches will help you on the morning of the workshop day.</p>

  <h3>Who can attend?</h3>
  <p>This workshop is aimed at women with a basic knowledge of working with a computer, who want to try out software development. People from other genders can apply, but women are given priority at this workshop. We welcome the LGBTQIA+ crowd.</p>
  <p>We've had people of all ages taking part. Most of the course and announcements are given in English and small group work is done in either Dutch or English.</p>

  <h3>How many people can attend?</h3>
  <p>We have limited space for this event: 20 attendees and 10 coaches. Sign up quick to secure your spot! We still have spots available!</p>
  <p>In the sign up form, let us know if you want to be put on the waiting list for this event when it's full, and if you want to be notified about future events.</p>

  <h3>Are meals provided during the workshop?</h3>
  <p>Yes! We offer lunch and snacks during the workshop.</p>

  <h3>Are there vegetarian / vegan options for food?</h3>
  <p>We got you covered! Both a vegetarian and a vegan option are made available.</p>

  <h3>Can I bring my children?</h3>
  <p>Yes! We have childcare services available for attendees. This is for children maximum age five. We have a separate room and dedicated people to look after any children present. Please indicate if you will bring children on the sign up form. If you forgot to indicate this or need to update your answer, please <a href="mailto:contact@railsgirls.nl">email us</a>.</p>

  <h3>What happens once I've signed up?</h3>
  <p>Once we have enough sign ups and coaches, we will send out confirmations to those who can attend. Those that cannot will be put on a waiting list and contacted again if a space opens up.</p>
  <p>Before the day of the workshop we will update you with news about the workshop and reminders about the workshop.</p>
  <p>Please follow the <a href="https://guides.railsgirls.com/install">laptop setup guide</a> before the day of the workshop so your laptop is prepared.</p>

  <h3>I can no longer make it to the workshop. What do I do?</h3>
  <p>Please let us know you can no longer make it by <a href="mailto:contact@railsgirls.nl">emailing us</a>. Please send the email from the address you signed up with or mention your name. We will give your spot to someone on the waiting list.</p>

  <h3>Do you have a Code of Conduct?</h3>
  <p>Yes! We follow the Contributor Covenant <a href="/code-of-conduct/">Code of Conduct</a>. We use the same Code of Conduct for <a href="https://amsrb.org/">Amsterdam Ruby meetup events</a>.</p>

  <h3>Can I help out?</h3>
  <p>Thank you! We will be looking for coaches when the next workshop planning is done. Watch this space for announcements about the next workshop.</p>

  <h3>What is this workshop?</h3>
  <p>This workshop is a local edition of <a href="http://railsgirls.com">Rails Girls</a> events. An international group of volunteers organizing events in their local areas. <a href="https://rubynl.org">Stichting Ruby NL</a> has organized previous Rails Girls events, like the <a href="http://2023-march.railsgirls.nl">Rotterdam 2023 edition</a>, <a href="http://railsgirls.com/amsterdam2019.html">Amsterdam 2019 edition</a> and <a href="http://railsgirls.com/rotterdam-06-2019.html">Rotterdam 2019 edition</a>.</p>

  <h3>I have a different question</h3>
  <p>Ask us anything! Please send us your questions at <a href="mailto:contact@railsgirls.nl">contact@railsgirls.nl</a>, <a href="https://twitter.com/RailsGirls_NL">@RailsGirls_NL on Twitter</a> or using a Twitter DM.</p>
</section>

<section class="section team-section" id="team">
  <h2>Organizers</h2>

  <ul>
    <li>
      <img src="<%= image_path "images/team/floor_drees.jpg" %>" alt="Floor Drees">
      <span>Floor Drees</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/rayta_van_rijswijk.jpg" %>" alt="Rayta van Rijswijk">
      <span>Rayta van Rijswijk</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/tom_de_bruijn.jpg" %>" alt="Tom de Bruijn">
      <span>Tom de Bruijn</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/arno_fleming.jpg" %>" alt="Arno Fleming">
      <span>Arno Fleming</span>
    </li>
  </ul>
</section>

<div class="hero-home"></div>
